mat-card.promotion {
    background-color: #e0cdb6;

    mat-card-subtitle {
        .prix {
            text-decoration: line-through;
        }

        .prix-promo {
            font-size: 24px;
            font-weight: bold;
            color: #4d9653;
        }
    }
}

.chips {
    background-color: cornflowerblue;
    border-radius: 30px;
    padding: 6px;
    font-size: 12px;
    color: white;
}